html
	head
		link(rel="stylesheet", href="style.css")
	body
		span.icon-ampersand.icon Bars
		span.icon-x.icon X
		svg#prefix-svg-container(width="0", height="0")
			svg#icon-ampersand.iconic(xmlns="http://www.w3.org/2000/svg")
				include svg/ampersand.svg
			svg#icon-aperture.iconic(xmlns="http://www.w3.org/2000/svg")
				include svg/aperture.svg
			svg#icon-aperture-alt.iconic(xmlns="http://www.w3.org/2000/svg")
				include svg/aperture_alt.svg
			svg#icon-arrow-down.iconic(xmlns="http://www.w3.org/2000/svg")
				include svg/arrow_down.svg
			svg#icon-arrow-left.iconic(xmlns="http://www.w3.org/2000/svg")
				include svg/arrow_left.svg
			svg#icon-arrow-up.iconic(xmlns="http://www.w3.org/2000/svg")
				include svg/arrow_up.svg
			svg#icon-arrow-right.iconic(xmlns="http://www.w3.org/2000/svg")
				include svg/arrow_right.svg
			svg#icon-bars.iconic(xmlns="http://www.w3.org/2000/svg")
				include svg/bars.svg
			svg#icon-battery-empty.iconic(xmlns="http://www.w3.org/2000/svg")	
				include svg/battery_empty.svg
			svg#icon-battery-full.iconic(xmlns="http://www.w3.org/2000/svg")	
				include svg/battery_full.svg
			svg#icon-battery-half.iconic(xmlns="http://www.w3.org/2000/svg")	
				include svg/battery_half.svg
			svg#icon-beaker.iconic(xmlns="http://www.w3.org/2000/svg")	
				include svg/beaker.svg
			svg#icon-beaker-alt.iconic(xmlns="http://www.w3.org/2000/svg")
				include svg/beaker_alt.svg
			svg#icon-bolt.iconic(xmlns="http://www.w3.org/2000/svg")
				include svg/bolt.svg
			svg#icon-book.iconic(xmlns="http://www.w3.org/2000/svg")
				include svg/book.svg
			svg#icon-book-alt.iconic(xmlns="http://www.w3.org/2000/svg")
				include svg/book_alt.svg
			svg#icon-book-alt-2.iconic(xmlns="http://www.w3.org/2000/svg")
				include svg/book_alt2.svg
			svg#icon-box.iconic(xmlns="http://www.w3.org/2000/svg")
				include svg/box.svg
			svg#icon-x.iconic(xmlns="http://www.w3.org/2000/svg")
				include svg/x.svg
		script(src="app.js")